RAILS_ENV=development
RAILS_MAX_THREADS=5

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=posto_api_development
POSTGRES_TEST_DB=posto_api_test

CORS_ORIGINS=*
